<div style="margin-left: 1%; margin-right: 1%;">
  <br>
  <h1 style="font-size: 50px;"><b>
    Messwerte
  </b></h1>

  <br>
  <!-- Nav Bar for big Screens -->
  <nav mat-tab-nav-bar mat-stretch-tabs  color="accent" backgroundColor="primary" fxShow="true" fxShow.xs="false" fxShow.sm="false">
    <a mat-tab-link
       routerLink="/home"
       routerLinkActive #homeTab='routerLinkActive'
       [active]='homeTab.isActive'>
      Home</a>

    <a mat-tab-link
       routerLink="/stations/name"
       routerLinkActive #stationsTab="routerLinkActive"
       [active]="stationsTab.isActive">
    Name </a>

    <a mat-tab-link
       routerLink="/stations/temperature"
       routerLinkActive #stationsTemperatur="routerLinkActive"
       [active]="stationsTemperatur.isActive">
    Temperatur </a>

    <a mat-tab-link
       routerLink="/stations/precipitation"
       routerLinkActive #stationsNiederschlag="routerLinkActive"
       [active]="stationsNiederschlag.isActive">
    Niederschlag </a>

    <a mat-tab-link
       routerLink="/stations/airpressure"
       routerLinkActive #stationsLuftdruck="routerLinkActive"
       [active]="stationsLuftdruck.isActive">
    Luftdruck </a>

  </nav>

  <!-- Nav for small Screens -->
  <nav mat-tab-nav-bar mat-stretch-tabs color="accent" backgroundColor="primary" fxShow="false" fxShow.sm="true" fxShow.xs="true">

    <a mat-tab-link
       routerLink="/stations/name"
       routerLinkActive #stationsTab="routerLinkActive"
       [active]="stationsTab.isActive">
      Name </a>

    <a mat-tab-link
       routerLink="/stations/temperature"
       routerLinkActive #stationsTemperatur="routerLinkActive"
       [active]="stationsTemperatur.isActive">
      Temperatur </a>

    <a mat-tab-link
       routerLink="/stations/precipitation"
       routerLinkActive #stationsNiederschlag="routerLinkActive"
       [active]="stationsNiederschlag.isActive">
      Niederschlag </a>

    <a mat-tab-link
       routerLink="/stations/airpressure"
       routerLinkActive #stationsLuftdruck="routerLinkActive"
       [active]="stationsLuftdruck.isActive">
      Luftdruck </a>

  </nav>

  <router-outlet>

  </router-outlet>
</div>
